@model IList<TransactionTracker.ViewModels.TransactionViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Transaction Tracker</h1>
    <p class="lead">A simple application to track your spending.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Description</th>
                    <th>Was this transaction planned?</th>
                    <th>Was this transaction necessary?</th>
                    <!-- The extra th is here so the "Create Transaction" button can be in the same row as the inputs
                        ...and because I'm bad at designing things -->
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var transaction in Model)
                {
                    <tr>
                        <td>
                            @transaction.Amount.ToString("F")
                        </td>

                        <td>
                            @transaction.Description
                        </td>

                        <td>
                            @(transaction.WasPlanned ? "Yes" : "No")
                        </td>

                        <td>
                            @(transaction.WasNecessary ? "Yes" : "No")
                        </td>
                    </tr>
                }
            <tr>
                @using (Html.BeginForm("CreateTransaction", "Home"))
                {
                    <td>
                        <div class="input-group">
                            @Html.TextBox("Amount", string.Empty, new {@class = "form-control", @placeholder = "Amount"})
                        </div>
                        
                    </td>
                    <td>
                        @Html.TextBox("Description", string.Empty, new {@class = "form-control", @placeholder = "Description"})
                    </td>
                    
                    <!-- TODO find a more visually appealing way to do these checkboxes. Maybe use JS to toggle between a Yes/No button?-->
                    <td>
                        @Html.CheckBox("WasPlanned")
                    </td>
                    <td>
                        @Html.CheckBox("WasNecessary")
                    </td>
                    <td>
                        <input type="submit" value="Create transaction"/>
                    </td>
                }
            </tr>
            </tbody>
        </table>
    </div>
</div>